@import "@/styles/variables";
.input {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  background-color: $color-primary-dark;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #333;
  &[type="file"] {
    display: none;
    cursor: pointer;
  }
  &:focus {
    outline: none;
    outline: 2px solid $color-secondary;
  }
  &:focus:invalid {
    outline: 2px solid $color-error;
  }
}
