// css reset
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-size: 1.8rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: $color-text;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
}
a {
  color: $color-text;
  text-decoration: none;
}
ul {
  list-style: none;
}
/////////////////////

.page-wrapper {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  margin-top: 6.4rem;
}

// temp
