@import "@/styles/variables";
.fields {
  padding: 2rem;
  border: 5px solid $color-primary-dark;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  legend {
    font-size: 2rem;
  }
}
