@import "@/styles/variables";
.input {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  background-color: $color-primary;
  border: 2px solid $color-primary-dark;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #333;
  transition: all 0.5s;

  &:focus,
  &:hover {
    outline: none;
    border: 2px solid rgba($color-secondary, 0.6);
  }
  &:focus:invalid {
    outline: none;
    border: 2px solid rgba($color-error, 0.6);
  }
}
