@import "../../styles/variables";
.btn-signin {
  background-color: $color-secondary;
  color: white;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.8rem;
  border: none;
  &:hover {
    scale: 1.02;
  }
}
