@import "../../../../styles/variables";
.input-box {
  &__input {
    width: 100%;
    padding: 0.5rem;
    font-family: inherit;
    background-color: $color-primary-dark;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    &:focus {
      outline: none;
    }
    &:focus:invalid {
      outline: 2px solid red;
    }
  }
}
