@import "../../styles/variables";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2rem;
  .logo {
    font-weight: 500;
  }
  .nav {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      li {
        transition: all 0.2s;
        height: 100%;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
